* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #f0b9ff
}
@import url('https://fonts.cdnfonts.com/css/shablagoo');
@import url('https://fonts.cdnfonts.com/css/retro-groove');
@import url('https://fonts.cdnfonts.com/css/adventrue');
@import url('https://fonts.cdnfonts.com/css/slab-tall-x');
@import url('https://fonts.cdnfonts.com/css/minal');
@import url('https://fonts.cdnfonts.com/css/kynthia');
body, html {
    margin: 0;
    padding: 0;
}
#head_inner{
    width: 25%;
    padding: 10px;  
    text-align: center;
}
#head{
    display: flex;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(252, 243, 231);
}
#web_name{
    font-size: 4em;
    padding: 5px;
    font-weight: bold;
    font-family: 'Shablagoo 3D Italic', sans-serif;
}
.container{
    display: flex;
}
.sidebar {
    width: 250px;
    background-color: #ffafff;
    padding: 30px 20px;
}
.sidebar h2 {
    font-size: 24px;
    margin-bottom: 30px;
}
.sidebar ul {
    list-style: none;
}
.sidebar li {
    padding: 12px 0;
    font-size: 14px;
    color: #000000;
    cursor: pointer;
}
.sidebar li:first-child {
    color: red;
    font-weight: bold;
}

.main-content {
    flex: 1;
    padding: 40px;
    background-color: #ffafff;
    overflow-y: auto;
}
.box {
    background-color: #ff87ff;
    padding: 25px 30px;
    border-radius: 6px;
    margin-bottom: 30px;
}
.box h3 {
    font-size: 30px;
    margin-bottom: 10px;
}
.box p {
    font-size: 14px;
    color: #000000;
    margin-bottom: 20px;
}
.input-group {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}
.input-field {  
    flex: 1;
}
.input-field label {
    display: block;
    font-size: 12px;
    font-size: 1.05em;
    color: #000000;
    margin-bottom: 5px;
}
.input-field input {
    width: 100%;
    padding: 10px;
    background-color: #ff55ff;;
    border: 1px solid #000000;
    border-radius: 4px;
}
.save-btn {
    padding: 10px 20px;
    background-color: #ffafff;
    color: #777;
    border: none;
    border-radius: 4px;
    cursor: not-allowed;
}
.highlight {
    color: #8888ff;
    font-size: 12px;
}
a {
    color: rgb(0, 21, 255);
    text-decoration: none;
}